body{
    background-color: #ffd6cc;
}

.app-title {
    text-align: center;
    color: #e65c00;
    font-size: 40px;
}



.app-body {
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
}

.container-names {
    text-align: center;
    font-size: 27px;
}

.user-input {
    display: block;
    padding: 5px;
    margin: 20px;
}

.add-contact-btn {
    display: block;
    padding: 5px;
    margin: 30px;
    font-size: 23px;
    border-radius: 10px;
    background-color: #e65c00;
    color: white;
    cursor: pointer;
    margin-right: 20px;
}